<h1>
  <!-- Bind to the first signal here -->
   first Number: {{ firstNumber() }}
</h1>
<h1>
  <!-- Bind to the second signal here -->
   second Number: {{ secondNumber() }}
</h1>
<hr />
<h2>
  <!-- Bind to the computed signal here -->
  Sum: {{ sum() }}
</h2>

<hr />

<button (click)="setSecondSignalTo10()">
  Set Second Signal to 10
</button>

<button (click)="incrementFirstSignal()">
  Increment First Signal
</button>

<button (click)="incrementBothSignals()">
  Increment Both Signals
</button>
