:host {
    display: flex;
    flex-direction: column;
    gap: 10px;

    nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .content {
        height: 200px;
        border: 1px solid gray;
        background-color: lightgray;
        padding: 10px;
    }
}