<h1>Currency Converter</h1>
<label>Amount</label>
<input type="number" [formControl]="amount" />

<label>Currency</label>

<!---->
<app-option-selector [options]="currencies" (selectedCurrency)="onCurrencySelected($event)" />
<!---->

<app-currency-converter
  [amount]="amount.value!"
  [currency]="currency()"
  (refreshRequired)="refreshData()"
/>

<app-currency-converter
  [amount]="amount.value!"
  [currency]="currency()"
  (refreshRequired)="refreshData()"
/>


<div #myRef></div>

<button (click)="stopRefresh()">Stop Refresh Events</button>
